.resposta{
    display: flex;
    margin: 10px;
    height: 100px;
    width: 80%;
    min-width: 500px;
    perspective: 1000px;
}

.conteudoResposta{
    display: flex;
    flex: 1;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.conteudoResposta.respostaRevelada{
    transform: rotateY(180deg);
}

.frente, .verso{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.verso{
    transform: rotateY(180deg);
}

.verso > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.certa{
    background-color: #2baa6d;
}

.errada{
    background-color: #e44a4c;
}

.certa .valor, .errada .valor{
    font-size: 1.5rem;
}

.frente{
    color: #000;
    background-color: #fff;
    align-items: center;
    border-radius: 12px;
    padding: 15px;
}

.letra{
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 20px;
}

.valor{
    font-size: 1.3rem;
    font-weight: 700;
}